<%-include('partials/header');-%>

<h1>Home</h1>
<p><%= homeContent %></p>

<!-- using forEach -->
<% posts.forEach((i)=>{ %>
   <h1> <%= i.title %> </h1> 
    <p> <%= i.content.slice(0,100)+"..."; %><a href="/posts/<%= i._id %>">Read More</a> </p>
    
<% }) %>
<%-include('partials/footer');-%>